* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 15px;

}

li a {
  padding: 8px;
}

li a:hover {
  background-color: white;
  padding: 8px;
}

.container {
  background-color: yellow;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.expanded_menu_container {
  display: none;
}

.expanded_menu_container ul {
  list-style-type: none;
  padding-right: 10px;
}

.expanded_menu_container ul li {
  margin-bottom: 10px;
  text-align: end;
}


.logo {
  height: 2em;
  
}

.nav_items ul {
  display: flex;
  list-style-type: none;
  
  
}

.nav_items ul li {
  margin: 0 10px;
}

.menu_icon {
  display: none;
}

.footer {
  background-color: black;
  opacity: 0.75;
  padding: 20px;
  margin-top: 2rem;

}


.footer_content {
  
  display: flex;
  justify-content: space-evenly;
  animation: bounce 2s infinite;

  
}

.footer_content p {
  color: white;
  line-height: 1.75rem;
  width: 60%;
  
}


@keyframes blinkAnimation{
  0%{ opacity: 1;}
  50%{ opacity:0%;}
  100%{opacity:1;}
}

.container{
  background-color: white;
  width:70%;
  height:300px;
  font-size: 25px;
  margin-top: 101px;
}

.reviews {
      display: flex;
      gap: 20px;
      justify-content: center;
      flex-wrap: wrap; /* mobile responsive */
    }

    /* Single review card */
    .review-card {
      background: white;
      border-radius: 16px;
      padding: 20px;
      width: 500px;
      height: 200px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      text-align: center;
    }

    /* Stars */
    .stars {
      color: orange;
      font-size: 20px;
      margin-bottom: 10px;
    }

    /* Name */
    .name {
      font-weight: bold;
      margin-bottom: 10px;
    }

    /* Review text */
    .text {
      font-style: italic;
      color: #333;
    }

    .bottom_part{
      background-color: gray;
      width:100%;
      height:200px;
      margin-top: 50px;
      padding-top:40px;

    }
    
    .desc{
      font-size: 30px;
      width:65%;
    }

    .thanks{
      margin-top: 50px;
    }